body {
    font-family: Arial, sans-serif;
    text-align: center;
    user-select: none; /* Disable text selection */
    touch-action: manipulation; /* Prevent zooming */
}
#game-screen, #score-screen {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#word-display {
    font-size: 5em;
    margin: 20px;
}
#timer {
    font-size: 1.5em;
}
#score-list {
    list-style-type: none;
    padding: 0;
}
#score-list li {
    font-size: 1.2em;
}
.correct {
    color: green;
}
.passed {
    color: red;
}
#game-screen{
    width: 100vw;
    height: 100vh;
}