h2 {
    margin-bottom: 10px;
}
label {
    display: block;
    margin: 5px 0;
}
button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #2a654d;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0e2c20;
}
.keypad-numbers{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    justify-content: space-between;
}
.keypad{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 250px;
    width: 250px;
    margin: 0 auto;
}
#number-display{
    line-height: 5px;
    font-size: x-large;
}
.keypad-btn{
    border-radius: 30px;
    background-color: #b1ead3;
    color: #000305;
}
.keypad-btn:hover{
    background-color: #7eae9b;
}
.z{
    width: 30%; 
    margin-right: 2%;
}
#get-task-btn{
    width: 65%;
}
.keypad-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
#task-display {
    animation: fadeIn 0.5s ease;
    text-align: left;
    max-width: 440px;
}
