body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: antiquewhite;
    max-height: 90vh;
    overflow: hidden;
}

#game-board {
    /* margin-top: 20px; */
    width: 90vw;
    max-width: 600px;
}

#timer {
    font-size: 24px;
    margin-bottom: 20px;
}

#card {
    font-size: 20px;
    margin-bottom: 20px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 30px;
    position: relative;
    transition: transform 0.3s ease;
}
.swipe-left {
    transform: translateX(-100%);
    transition: transform 0s; /* Immediately return to original position */
}

.swipe-right {
    transform: translateX(100%);
    transition: transform 0s; /* Immediately return to original position */
}

#taboo-words {
    list-style-type: none;
    padding: 0;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
#word{
    margin: 20px 40px;
    border-bottom: 2px solid black;
    padding: 30px;
}
select{
    cursor: pointer;
}
#guessed{
    width: 60%;
}
.phonenote{
    display: block;
}
/* Tablet styles */
@media (min-width: 600px) {
    .phonenote{
        display: none;
    }
}
