body {
    background-color: #f9e5d7;
}

/* #player-section, #theme-section, #game-section{
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
} */

/* #player-section input, #theme-section select, #theme-section button, #player-section button, #game-section button {
    margin: 10px 0;
    padding: 10px;
} */
.input-outer-div{
    display: flex;
    gap: 10px;
}
/* #game-section button{
    font-size: 20px;
    border: 0px solid darkred;
} */
/* #player-section button{
    font-size: x-large ;
} */
.themes-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.question-part {
    display: inline-block;
    padding: 20px;
    font-size: 24px;
    margin: 10px 0;
}

.green {
    background-color: #d4f5d449;
    color: darkgreen;
    border: 1px solid darkgreen;
    padding: 50px;
}

.red {
    background-color: #f0c8c8ac;
    color: darkred;
    border: 1px solid darkred;
    padding: 50px;
}

.or {
    font-size: medium;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.731);
    background-color: #f9f8f43f;
    border-radius: 110px;
    text-align: center;
}
p{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
    text-align: center;
}
#player{
    font-size: x-large;
}
.toggle-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.div-left{
    display: flex;
    flex-direction: column;
    align-items:baseline;
}
.content {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 16px;
    line-height: 30px;
}
.toggle-btn{
    background-color: #ebffef00;
    border-style: none;
    background-color: #dfdfdf47;
    text-align: left;
    font-size: smaller;
}
.App {
    text-align: center;
}

img {
    max-width: 300px;
    margin: 20px;
}

ul {
    text-align: left;
    list-style-type: none;
    padding: 0;
}
li {
    /* cursor: pointer; */
    padding: 0px;
    margin: 0px;
    border: 0px solid #ccc;
    text-align: left;

}

/* button {
    margin: 10px;
} */
.intro-div{
    /* margin-top: 60px; */
    display: flex;
    flex-direction: column;
    gap: 30px;
}
