body {
    height: auto;
    max-height: none;
    overflow:scroll;
    justify-content: flex-start !important;
}
.input-outer-div{
    display: flex;  
    gap: 10px;
}
.themes-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.question-part {
    display: inline-block;
    padding: 20px;
    font-size: 24px;
    /* margin: 10px 0; */
}
.green {
    /* background-color: #00ff0010; */
    color: darkgreen;
    /* border: 1px solid darkgreen; */
    /* padding: 20px; */
}
.red {
    /* background-color: #ff00000e; */
    color: darkred;
    /* border: 1px solid darkred; */
    /* padding: 20px; */
}
.or {
    font-size: small;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.731);
    background-color: #f9f8f43f;
    border-radius: 110px;
    text-align: center;
    padding: 0;
    font-style: italic;
}
p{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
    text-align: center;
}
.two-buttons{
    display: flex;
    justify-content: space-around;
}
.next-question{
    width: 100%;
    margin: 0;
    padding: 20px;
    background-color: rgb(253, 255, 255);
}
#player{
    font-size: x-large;
}
#player-name{
    flex-grow: 100;
}
.input-outer-div button{
    margin: 0;
}
.toggle-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.div-left{
    display: flex;
    flex-direction: column;
    align-items:baseline;
}
.content {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 16px;
    line-height: 30px;
}
.toggle-btn{
    background-color: #ebffef00;
    border-style: none;
    background-color: #dfdfdf47;
    text-align: left;
    font-size: smaller;
}
.App {
    text-align: center;
}
img {
    max-width: 300px;
    margin: 20px;
}
ul {
    text-align: left;
    list-style-type: none;
    padding: 0;
}
li {
    padding: 0px;
    margin: 0px;
    border: 0px solid #ccc;
    text-align: left;

}
.intro-div{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.start-screen{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.swipe-left {
    transform: translateX(-100%);
}
