body{
    background-color: #F4E7C7; 
    font-family: micro;
    padding: 0;
    margin: 0;
    max-width: 100vw;
}
a{
    text-decoration: none;
    text-align: center;
    border-radius: 50px;  
}
.title{
    font-size: 30px;
    margin-left: 40px;
    line-height: 14px;
}
.header-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.header-div{
    background-image:url('assets/background\ computer.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; 
    height: 95vh;
    width: 150vh;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}
.computer-screen{
    margin: 120px auto auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.computer-label{
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 20px;
    text-align: center;
}
.button{
    background-color: #271201;
    color: #F7F0D3;
    text-align: center;
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 50px;
}
.major-button{
    border: 2px solid #000;
    background: #FFFFDB;
    color: #000;
    font-size: 30px;
    padding: 15px 40px;
    box-shadow: #000 10px 10px 0;
    margin: 50px 0 80px 0;
}

.divider{
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    background-color: #FFFFDB;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: #CECEB1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.dot{
    min-width: 22.27px;
    min-height: 22.27px;
    border-radius: 100%;
    fill: #653511;
}

.projects-section{
    padding: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.project-main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F9E0BA;
    box-shadow: 0px 3.833px 10px 0px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    margin-bottom: 40px;
    transition: transform 0.3s;
    position: sticky;
    top: 10px;
}
h2{
    font-weight: bold;
    font-size: 40px;
    line-height: 10px;
}
.project-img{
    max-height: 80vh;
    border-radius: 20px;
    object-fit: contain;
    margin: 0 40px 20px 40px;
}
.printer{
    margin: 30px 0;
    height: 85vh;
    width: 60vw;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}