summary {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 1.25rem;    
    line-height: 1.3;
    margin: 0;
}

.indented p {
    margin-left: 20px;
}

.bulleted-list {
    list-style-type: disc;
    margin-left: 20px;
}
.grid{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.non-bullet-list{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
body{
    background-color: #9ec1d7;
    font-family: coda, sans-serif;
    color: var(--black);
}
.container{
    padding: 70px 20px 50px 20px;
    max-width: 800px;
    margin: auto;
}
a{
    color: var(--black);
    text-decoration-color: var(--main-yellow);
}
.portrait{
    width: auto;
    border-radius: 20px;
}
h1 {
    font-size: 1.875rem;
    margin-top: 1.875rem;
} 
h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
} 
h3 {
    font-size: 1.25rem;
    margin-top: 1.25rem;
} 
h1,
h2,
h3 {
    letter-spacing: -0.01em;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 0;
} 
.grid.strech{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
/* Tablet styles */
@media (min-width: 600px) {   
    .container{
        padding: 50px 0 50px 0;
    }
    .grid{
        flex-direction: row;
    }
    .portrait{
        width: 300px;
    }
    .grid.strech{
        flex-direction: row;
    }
}
/* Desktop styles */
@media (min-width: 1024px) {
}