body {
    position: relative;
    margin: 0;
    padding: 0;
}
.contact-form-popup{
    display: none; 
}
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    left: 10px;
    z-index: 20002;
}
.menu-icon img{
    width: 80px;
    height: 80px;
}
.nav-div{
    top: 10px;
    left: 10px;
}
.dropdown-menu {
    position: fixed;
    display: flex;
    align-items: center;
    left: -110%;
    height: 100px;
    background-color: var(--main-yellow);
    transition: left 0.3s;
    overflow-y: auto;
    border-radius: 0 30px 30px 0;
    padding: 0 10px 0 0;
}
.dropdown-menu a {
    font-family: code, sans-serif;
    text-decoration: none;
    color: var(--black);
    display: block;
    padding: 10px;
}

.dropdown-menu a:hover {
    background-color: var(--black);
    color: var(--main-yellow);
    border-radius: 30px;
}
.menu-a-s{
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    justify-content: space-around;
}
.menu-a-s a{
    font-family: micro, sans-serif;
}
.form-container{
    position: relative;
    color: aliceblue;
    width: 80vw;
    height: 80vh;
    background-color: var(--black);
    margin: 10vh 10vw;
    border-radius: 30px;
}
.form{
    row-gap: 10px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-height: 70vh;
    max-width: 70vw;
}
.button{
    font-family: coda, sans-serif;
    font-weight: 700;
    margin-top: 40px;
    background-color: var(--main-yellow);
    border-radius: 30px;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: black 0 0 10px;
    color: #2e0e0e;
    transition: ease-in;
}
.input{
    background-color: var(--black);
    border: #555 none;
    border-bottom: var(--main-yellow) solid 1px;
    font-family: coda, sans-serif;
    color: var(--main-yellow);
    padding: 15px;
    width: 100%;
    max-height: 20vh;
}
.close{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
@keyframes shiver {
    0% { transform: rotate(-2deg); }
    50% { transform: rotate(2deg); }
    100% { transform: rotate(-2deg); }
}
.menu-icon img {
    animation: shiver 0.5s infinite alternate;
}
.form-container h2{
    font-family: micro, sans-serif;
}
.element-container{
    left: 10px;
    top: 10px;
    position: fixed;
    z-index: 20000;
}

/* HIRE ME element */

.hire-me-div{
    position:fixed;
    right: 10px;
    bottom: 10px;
    transform-origin: 100% 100%; 
    animation: twirlInOutDepth 20s infinite; 
    transition:ease-in 0.5s;
    scale: 1;
    z-index: 30;
}
.hire-me-div:hover{
    scale: 1.1;
}
.hire-me-div a{
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="32" width="32"><text y="28" font-size="24">👋</text></svg>') 16 16, auto;
}
.hire-me-div img{
    width: 125px;
}
.hire-me-p{
    font-size: 25px;
    line-height: 20px;
    text-align: end;
    font-family: micro, sans-serif;
    color: var(--main-yellow);
    position: fixed;
    right: 0;
    padding: 0;
    margin: 0 10px 0 0;
    text-shadow: 1px 0px 5px rgb(0 0 0);
}


/* FOOTER element  */

#main-footer{
    z-index: 2;
}
.footer{
    margin: 20px;
    margin: auto;
    background-color: var(--black);
    border-radius: 20px;
    padding: 50px;
    color: var(--main-yellow);
    width: 80vw;
    max-width: 1300px;
}
.footer-structure{
    display: flex;
}
.footer-div{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-h2{
    font-family: micro, coda, sans-serif;
}
.footer-a{
    color: aliceblue;
    text-decoration: none;
    font-family: coda, sans-serif;
    transition: ease-in 0.5s;
}
.footer-a:hover{
    color: var(--main-yellow);
}
.footer-p{
    font-family: coda, sans-serif; 
}
@keyframes twirlInOutDepth {
    0%, 100% {
        transform: rotate(90deg) scale(0.5);
        opacity: 0;
    }
    5% {
        transform: rotate(0deg) scale(1);
        opacity: 1;
    }
    50% {
        transform: rotate(0deg) scale(1.2);  
        opacity: 1;
    }
    60% {
        transform: rotate(-90deg) scale(0.5);  
        opacity: 0;
    }
    95% {
        transform: rotate(-90deg) scale(0.5);
        opacity: 0;
    }
}

@media (min-width: 600px) {
    .hire-me-p{
        font-size: 45px;
        line-height: 40px;
    }
    .hire-me-div img{
        width: 200px;
    }    
    .dropdown-menu a {
        padding: 20px;
    }
    .dropdown-menu {
        padding: 0 30px 0 0;
    }
}