body {
    background-color: var(--black);
    font-family: micro;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
    /* margin-top: 60px; */
}
.bigger-container{
    position: relative;
    z-index: 1;
}
.section{
    margin: 100px 0;
}
.swiper-section{
    width: 100vw;
    height: 75vw;
    scale: 0.9;
}
.swiper-container {
    border-radius: 30px;
}
.swiper-slide {
    width: 85%;
    height: 100%;  
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
.project-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 30px;
}
.swiper-section.logo-section, .swiper-section.project-section{
    height: 150vw;
}
.logo-div{
    width: 100vw;
    height: 150vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
}
.logo-img{
    max-width: 400px;
    max-height: 350px;
    max-width: 80vw;
    max-height: 350px;
    object-fit: cover;
}
.swiper-slide-shadow.swiper-slide-shadow-cards{
    border-radius: 30px;
    position: relative;
}
.swipe{
    font-size: 18px;
    color: var(--main-yellow);
    font-family: coda, sans-serif;
    text-align: center;
}
h1{
    text-align: center;
    font-size: 30px;
    color: aliceblue;
}
h2{
    text-align: center;
    font-size: 20px;
    color: aliceblue;
    line-height: 0%;
}
.morebutton{
    font-family: coda, sans-serif;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--main-yellow);
    border-radius: 30px;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: var(--black) 0 0 10px;
    color: var(--black);
    transition: ease-in;
    font-weight: 700;
}
.morebutton :hover{
    background-color: antiquewhite;
}
.printer{
    height: 75vw;
    width: 90vw;
    margin: 30px 0;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.swiper-section.painting{
    width: 100vw;
    height: 70vw;
}
.painting{
    width: 100vw;
    height: 67vw;
    object-fit:contain;
    border-radius: 30px;
}
iframe{
    width: 90vw;
    height: 51vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 100vw;
    overflow-x: hidden;
}
.center{
    display: flex;
}
.hireme{
    background-color: var(--main-yellow);
    color: var(--black);
    font-family: coda, sans-serif;
    padding: 5px 40px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
    transition:ease;
}
.hireme:hover{
    margin-top: -20px;
    padding: 25px 40px;
    margin-bottom: 10px;
}
.project-img.phone{
    display: block;
}
.project-img.web{
    display: none;
}
p{
    color: aliceblue;
    font-size: 16px;
    font-family: coda, sans-serif;
    font-weight: 400;
    padding: 0 40px 10px 40px;
    max-width: 900px;
    margin: auto;
    text-align: center;
    letter-spacing: 1px;
}
.project-div-container{
    margin: 20px;
    display: grid;
    grid-gap: 36px;
    list-style: none;
}
.project-div-main{
    aspect-ratio: 2;
}
.project-upper-div{
    width: 100%;
    aspect-ratio: 2;
}
.project-lower-div{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
.project-div-container .project-img{
    height: auto;
    border-radius: 10px;
}
.project-div-container .logo-div{
    max-width: calc(100vw - 140px);     
    height: 100%;
    border-radius: 10px;
    aspect-ratio: 3 / 2;
    padding: 50px;
}
.project-div-container .logo-img{
    max-width: 80vw;
    max-height: 40vh;
}
.project-title{
    text-align: left;
    padding: 0;
    margin: 0;
}
.project-tags{
    opacity: 0.3;
    text-align: left;
    padding: 0;
    margin: 0;
}
.project-button{
    color: var(--main-yellow);
    font-size: small;
    font-family: coda, sans-serif;
    text-underline-offset: 5px;
    margin-top: 10px;
}
.pagination-div{
    display: flex;
    justify-content: center;
}
.current-page{
    color: aliceblue;
    font-family: coda, sans-serif;
}
.pagination-button{
    margin-bottom: 100px;
    background-color: var(--main-yellow);
    padding: 15px 80px;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
}
.pagination-button :hover{
    opacity: 0.8;
}
/* Tablet styles */
@media (min-width: 600px) {
    .h1{
        font-size: 60px;
    }
    .h2{
        font-size: 45px;
    }
    .painting{
        width: 100vw;
        height: 55vw;
        max-width: 1300px;
        max-height: 870px;
    }
    .morebutton{
        bottom: auto;
        top: 40px;
    }    
    .swiper-section{
        width: 100vw;
        margin-left: 10vw;
        margin-bottom: 80px;
        margin-left: 0;
    }
    .swiper-section.logo-section{
        width: 100vw;
        height: 55vw;
    }
    .swiper-section.project-section{
        width: 100vw;
        height: 58vw;
    }
    .swiper-section.painting{
        height: 90vw;
        height: 48vw;
    }
    .logo-div{
        width: 100vw;
        height: 60vh;
    }
    .logo-img{
        max-width: 400px;
        max-height: 350px;
    }
    .printer{
        height: 75vh;
        width: 90vh;
    }
    .project-img.phone{
        display: none;
    }
    .project-img.web{
        display: block;
    }
    .project-div-container {
        margin: 50px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));
    }
    .project-div-container .logo-div{
        max-width: 100%;
        padding: 0;
    }
    .project-div-container .logo-img{
        max-width: 80%;
        max-height: 80%;
    }
}
/* Desktop styles */
@media (min-width: 1024px) {
    h1{
        font-size: 70px;
    }
    h2{
        font-size: 50px;
    }
    .bigger-container{
        width: 100vw;
        overflow-x: hidden;
    }
    .container{
        max-width: 1300px;
        overflow-x: visible;
        margin: auto;
    }
    .swiper-section.project-section{
        width: 90vw;
        height: 58vw;
        max-width: 1300px;
        max-height: 900px;
    }
    .swiper-section{
        scale: 1;
        width: 95vw;
        margin-left: 2.5vw;
        max-width: 1300px;
        height: 100vh;
    }
    .swiper-section.logo-section{
        width: 90vw;
        height: 40vw;
        max-width: 1300px;
        max-height: 700px;
    }
    .logo-div{
        width: 90vw;
        height: 40vw;
        max-width: 1300px;
        max-height: 700px;
    }
    .painting{
        width: 90vw;
        height: 58vw;
        max-width: 1300px;
        max-height: 900px;
    }
    .swiper-section.painting{
        height: 100vw;
        height: 55vw;
    }
    .project-div-container {
        grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));
    }
}