body {
    background-color: #1b4a68;;
    font-family: micro;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
    margin-top: 60px;
}
.swiper-section{
    width: 100vw;
    height: 75vw;
    scale: 0.9;
}
.swiper-container {
    border-radius: 30px;
}
.swipe{
    font-size: 18px;
    color: rgb(247, 235, 8);
    font-family: coda, sans-serif;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 70px;
}
.swiper-slide {
    width: 85%;
    height: 100%;  
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
.project-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 30px;
}
h1{
    text-align: center;
    font-size: 30px;
    color: aliceblue;
}
.swiper-section.logo-section, .swiper-section.project-section{
    height: 150vw;
}
.logo-div{
    width: 100vw;
    height: 150vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
}
.logo-img{
    max-width: 400px;
    max-height: 350px;
    max-width: 80vw;
    max-height: 350px;
    object-fit: cover;
}
.swiper-slide-shadow.swiper-slide-shadow-cards{
    border-radius: 30px;
    position: relative;
}
.morebutton{
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgb(247, 235, 8);
    border-radius: 30px;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: black 0 0 10px;
    color: #2e0e0e;
    transition: ease-in;
}
.morebutton :hover{
    background-color: antiquewhite;
}
.printer{
    height: 75vw;
    width: 90vw;
    margin: 30px 0;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.swiper-section.painting{
    width: 100vw;
    height: 70vw;
}
.painting{
    width: 100vw;
    height: 67vw;
    object-fit:contain;
    border-radius: 30px;
}
iframe{
    width: 90vw;
    height: 51vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 100vw;
    overflow-x: hidden;
}
.center{
    display: flex;
}

.project-img.phone{
    display: block;
}
.project-img.web{
    display: none;
}
/* Tablet styles */
@media (min-width: 600px) {
    .h1{
        font-size: 60px;
    }
    .painting{
        width: 100vw;
        height: 55vw;
        max-width: 1300px;
        max-height: 870px;
    }
    .morebutton{
        bottom: auto;
        top: 40px;
    }    
    .swiper-section{
        width: 100vw;
        /* height: 60vw; */
        margin-left: 10vw;
        margin-bottom: 60px;
        margin-left: 0;
    }
    .swiper-section.logo-section{
        width: 100vw;
        height: 55vw;
        margin-bottom: 20px;
    }
    .swiper-section.project-section{
        width: 100vw;
        height: 58vw;
    }
    .swiper-section.painting{
        height: 90vw;
        height: 48vw;
    }
    .logo-div{
        width: 100vw;
        height: 60vh;
    }
    .logo-img{
        max-width: 400px;
        max-height: 350px;
    }
    .printer{
        height: 75vh;
        width: 90vh;
    }
    .project-img.phone{
        display: none;
    }
    .project-img.web{
        display: block;
    }
}
/* Desktop styles */
@media (min-width: 1024px) {
    h1{
        font-size: 70px;
    }
    .bigger-container{
        width: 100vw;
        overflow-x: hidden;
    }
    .container{
        max-width: 1300px;
        overflow-x: visible;
        margin: auto;
    }
    .swiper-section.project-section{
        width: 90vw;
        height: 58vw;
        max-width: 1300px;
        max-height: 900px;
    }
    .swiper-section{
        scale: 1;
        width: 95vw;
        margin-left: 2.5vw;
        max-width: 1300px;
        height: 100vh;
    }
    .swiper-section.logo-section{
        width: 95vw;
        height: 40vw;
        max-width: 1300px;
        max-height: 700px;
    }
    .logo-div{
        width: 95vw;
        height: 40vw;
        max-width: 1300px;
        max-height: 700px;
    }
    .painting{
        width: 90vw;
        height: 58vw;
        max-width: 1300px;
        max-height: 900px;
    }
    .swiper-section.painting{
        height: 100vw;
        height: 55vw;
    }
}