:root {
    --main-yellow: #ffcc00; 
    --black: #0d1820;
}
@font-face {
    font-family: 'Micro';
    src: url('/font/Micro.otf') format('opentype');
    font-weight: 400; 
}
@font-face {
    font-family: 'Micro';
    src: url("/font/Micro bold.ttf") format('truetype');
    font-weight: 700;  
}    
::selection {
    background-color: var(--main-yellow); 
    color: var(--black); 
}
body{
    position: relative;
    cursor: auto;
    font-family: coda, sans-serif;
}
#cursor1, #cursor2 {
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%); 
    pointer-events: none;
    z-index: 10000;
    opacity: 0.6;
}
#cursor1 {
    width: 25px;
    height: 25px;
    background-color: var(--main-yellow);
    transition: top 0.4s ease, left 0.4s ease;
}
#cursor2 {
    width: 30px;
    height: 30px;
    border: var(--main-yellow) solid 3px;
    transition: top 0.9s ease, left 0.9s ease;
}
.grainy-div{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
}
.grainy {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(30.67% 38.44% at 80.67% 75.58%, rgba(254, 214, 3, 0.271875) 9.38%, rgba(254, 214, 3, 0) 100%), radial-gradient(49.38% 94.55% at 83.52% 20.1%, rgba(148, 25, 224, 0.4) 11.03%, rgba(0, 0, 0, 0) 100%), radial-gradient(33.33% 44.13% at 16.67% 27.89%, rgba(7, 233, 248, 0.3) 0.75%, rgba(7, 233, 248, 0) 100%), #000000;
}
.grain{
    position: absolute;
    background-image: url(assets/noisy.png);
    mix-blend-mode: multiply;
    background-repeat: repeat;
    background-size: 30%;
    width: 100%;
    height: 100%;
}
