body {
    background-color: var(--black);
    font-family: micro;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
}
.project-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 30px;
}
.website-div{
    position: relative;
}
.morebutton{
    font-family: coda, sans-serif;
    margin-left: 80%;
    background-color: var(--main-yellow);
    border-radius: 30px;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: var(--black) 0 0 10px;
    color: var(--black);
    transition: ease-in;
    font-weight: 700;
}
.morebutton:hover{
    background-color: antiquewhite;
}
.project-img.phone{
    display: block;
}
.project-img.web{
    display: none;
}
.projects-container{
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
h1 {
    text-align: center;
    font-size: 30px;
    color: aliceblue;
}
p {
    color: aliceblue;
    font-size: 16px;
    font-family: coda, sans-serif;
    font-weight: 400;
    padding: 0 40px 10px 40px;
    max-width: 900px;
    margin: auto;
    text-align: center;
    letter-spacing: 1px;
}
.cta{
    display: none;
    background-color: var(--black); 
    padding: 7px 5px 0 5px;
    border-radius: 5px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    max-width: 70vw;
}
/* Tablet styles */
@media (min-width: 600px) {
    .project-img.phone{
        display: none;
    }
    .project-img.web{
        display: block;
    }
    .morebutton{
        bottom: auto;
        top: 40px;
    }    
    .cta{
        display: block;
    }
    h1 {
        font-size: 60px;
    }
}
@media (min-width: 1024px) {
    body{
        padding: 0;
    }
    h1 {
        font-size: 70px;
    }
}