body{
    margin: 100px 20px;
    background-attachment: fixed;
}
.fullwidth{
    margin: auto;
    width: 100%;
    object-fit: cover;
    max-width: 950px;
}
.center{
    display: flex;
}
/* width */
.fullwidth.w90{
    width: 100%;
}
.fullwidth.w80{
    width: 90%;
}
.fullwidth.w70{
    width: 100%;
}
.fullwidth.w60{
    width: 100%;
}
.fullwidth.w50{
    width: 100%;
}
.fullwidth.l-non{
    margin-left: 0;
}
.fullwidth.r-non{
    margin-right: 0;
}
.fullwidth.radius20{
    border-radius: 20px;
}
/* END width */

section{
    max-width: 950px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
h1{
    font-family: 'Micro';
    font-size: 30px ;
    color: #FFFFFF;
}
.h1div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
    background: #1C122D;
    border-radius: 40px;
}
.highlighted{
    color: var(--main-yellow);
    font-family: coda, sans-serif;
    font-size: 30.61px;
} 
.highlighted.removetop{
    margin-top: 0;
}
.highlighted.smaller{
    font-size: 17px;
    line-height: 16px;
}
p{
    color: #FFF;
    font-family: coda, sans-serif;
    font-size: 18px;
    margin: 0 !important;
}
.arrowdiv{
    position: relative;
}
.link{
    color: #FFF;
    text-underline-offset: 10px;
    margin: auto;
    font-size: 24px;
    font-family: Coda, sans-serif;
}
.link:hover{
    color: var(--main-yellow);
}
section{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease; 
}
  
section.active{
    transform: translateY(0);
    opacity: 1;
}
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    overflow: hidden;
    border-radius: 20px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.arrowdiv img{
    display: none;
}

@media (min-width: 600px) {
    body{
        margin: 40px 0 40px 0;
    }
    h1{
        font-size: 50px ;
    }
    /* width */
    .fullwidth.w90{
        width: 90vw;
    }
    .fullwidth.w80{
        width: 80vw;
    }
    .fullwidth.w70{
        width: 70vw;
    }
    .fullwidth.w60{
        width: 60vw;
    }
    .fullwidth.w50{
        width: 50vw;
        margin-left: 25%;
    }
    /* END width */
    p{
        font-size: 32.4px;
    }
    .arrowdiv img{
        display: block;
        position: absolute;
    }    
}
@media (min-width: 1024px) {
    h1{
        font-size: 50px;
    }
    .h1div{
        min-width: 950px;
        width: 950px;
    }
}