body{
    margin: 40px 0 40px 0;
}
.fullwidth{
    margin: auto;
    width: 100%;
    object-fit: cover;
    
}
section{
    max-width: 950px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin: 60px; */
}
h1{
    font-family: 'Micro';
    font-size: 103.31px ;
    color: #FFFFFF;
}
.h1div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    width: 843.76px;
    height: 156.12px;
    left: calc(50% - 843.76px/2 - 0px);
    background: #1C122D;
    border-radius: 40px;
}
.highlighted{
    color: #ffcc00;
    font-family: coda, sans-serif;
    font-size: 30.61px;
} 
.highlighted.removetop{
    margin-top: 0;
}
.highlighted.smaller{
    font-size: 17px;
    line-height: 16px;
}
p{
    color: #FFF;
    font-family: coda, sans-serif;
    font-size: 32.4px;
}
.arrowdiv{
    position: relative;
}

section{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease; 
}
  
section.active{
    transform: translateY(0);
    opacity: 1;
}